.cta-check-wrapper {
    .check-abode-items {
        @include flex;
        justify-content: space-between;
        margin-bottom: 60px;

        @include breakpoint (max-xl){
            flex-wrap: wrap;
            gap: 30px;
        }

       .left-items {
         max-width: 640px;
       }

        .right-items {
            .client-info-box {
                @include flex;
                gap: 32px;
                margin-bottom: 48px;

                @include breakpoint (max-md){
                    flex-wrap: wrap;
                    gap: 20px;
                    margin-bottom: 25px;
                }

                .client-item {
                    @include flex;
                    gap: 24px;

                    .thumb {
                        img {
                            border-radius: 16px;
                        }
                    }
                }
            }
        }
    }

    .cta-image-items {
        border-radius: 24px;
        position: relative;
        z-index: 9;
        padding: 348px 132px 48px;

        @include breakpoint (max-xl){
           padding: 80px 30px 80px;
        }

        .text-line {
            position: absolute;
            top: 0;
            left: 22px;
            bottom: 0;
            color: #FFF9F6;
            font-family: $st-heading-font;
            font-size: 100px;
            font-weight: 800;
            letter-spacing: -1px;
            opacity: 0.12;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
        }

        &::before {
            @include before;
            border-radius: 24px;
            background: linear-gradient(279deg, rgba(22, 36, 62, 0.00) 6.9%, var(--Text-Primary, #16243E) 91.99%);
            z-index: -1;
        }

        .cta-content {
            h2 {
                color: $st-white;
            }

            p {
                color: $st-white;
                max-width: 705px;
                opacity: 0.8;
                margin-top: 15px;
            }

            .theme-btn {
                background-color: $st-theme-color;
                color: $st-header-color;
                margin-top: 32px;

                &::before {
                    background-color: $st-white
                }
            }
        }
    }
}

.cta-check-section {
    position: relative;
    z-index: 9;

    .cta-shape {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &::before {
        @include before;
        background-color: $st-header-color;
        top: 65%;
        z-index: -1;
    }

    &.bg-white-style {
        &::before {
            background-color: $st-white;
        }
    }
}

.cta-download-app-wrapper {
    border-radius: 32px;
    background-color: $st-theme-color;
    padding: 0 72px;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;

    @include breakpoint (max-xl){
        padding: 0 30px;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        text-align: center;
        padding-top: 50px;
    }

    .content {
        max-width: 760px;
        width: 100%;
        margin-top: 10px;
        position: relative;
        z-index: 9;

        .section-title {
            .theme-btn {
                margin-top: 48px;

                @include breakpoint (max-xl){
                    margin-top: 30px;
                }

                &::before {
                    background-color: $st-theme-color-2;
                }

                &:hover {
                    color: $st-white;
                }
            }
        }
    }

    .thumb {
        margin-left: -70%;

        @include breakpoint (max-xl){
            margin-left: 0;
        }

        img {
            @include imgw;
        }
    }
}

.cta-download-section {
    position: relative;
    z-index: 9;

    &::before {
        @include before;
        background-color: $st-header-color;
        z-index: -1;
        top: 50%;
        height: initial;
    }
}