.project-wrapper {
    margin-left: -3%;
    margin-right: -10%;

    @include breakpoint (max-xxxl){
        margin-left: -15%;
        margin-right: -15%;
    }

    @include breakpoint (max-xl){
        margin-left: 0;
        margin-right: 0;
    }
}

.project-box-items {
    margin-top: 30px;
    position: relative;
    background-color: #F4F4F4;
    border-radius: 16px;

    &.style-margin {
        margin-top: 70px;

        @include breakpoint(max-xl){
            margin-top: 30px !important;
        }
    }

    .project-thumb {
        overflow: hidden;
        position: relative;
        border-radius: 16px 16px 0px 0px;

        img {
            @include imgw;
            border-radius: 16px 16px 0px 0px;
            position: relative;
            display: block;
            object-fit: cover;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;

            &:first-child{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                -webkit-transform: translateX(50%) scaleX(2);
                transform: translate(50%) scaleX(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px)
            }
        }

        .project-post-box {
            border-radius: 4px;
            display: inline-block;
            background-color: $st-theme-color;
            padding: 5px 14px;
            color: $st-header-color;
            position: absolute;
            top: 24px;
            right: 24px;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            z-index: 9;
            border-radius: 32px;
        }
    }

    .project-content {
        padding: 24px;

        .location {
            display: inline-block;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 10px;

            i {
                color: $st-theme-color-2;
            }
        }

        h3 {
            @include breakpoint (max-xxl){
                font-size: 20px;
            }
            a {
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                display: inline;
                
                &:hover {
                    color: $st-theme-color-2;
                    background-size: 100% 2px;
                    background-image: linear-gradient(180deg, $st-theme-color-2 0%, $st-theme-color-2 100%);
                }
            }
        }

        .project-list {
            @include flex;
            gap: 20px;
            margin-top: 15px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 10px;
            }

            li {
                @include flex;
                font-weight: 500;
                line-height: 1;
                gap: 10px;

                i {
                    font-size: 18px;
                    line-height: 1;
                }
            }
        }

        .project-link-btn {
            display: inline-block;
            font-weight: 600;
            font-size: 16px;
            color: $st-theme-color-2;
            margin-top: 24px;
            font-family: $st-heading-font;
            @include transition;

            i {
                margin-right: 8px;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &:hover {
        .project-thumb {
            img {
                &:first-child {
                    -webkit-transform: translateX(0) scaleX(1);
                    transform: translate(0) scaleX(1);
                    opacity: 1;
                    -webkit-filter: blur(0);
                    filter: blur(0)
                }

                &:nth-child(2){
                    -webkit-transform: translateX(-50%) scaleX(2);
                    transform: translateX(-50%) scaleX(2);
                    opacity: 0;
                    -webkit-filter: blur(10px);
                    filter: blur(10px);
                }
            }
        }
    }
}

.project-image-2 {
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 16px;

    img {
        @include imgw;
        border-radius: 16px;
        display: block;
        object-fit: cover;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;

        &:first-child{
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            -webkit-transform: translateX(50%) scaleX(2);
            transform: translate(50%) scaleX(2);
            opacity: 0;
            -webkit-filter: blur(10px);
            filter: blur(10px)
        }
    }

    .project-content-item {
        position: absolute;
        bottom: 32px;
        left: -100px;
        border-radius: 0px 8px 8px 0px;
        background: $st-header-color;
        padding: 24px 32px;
        @include flex;
        justify-content: space-between;
        z-index: 99;
        @include transition;
        opacity: 0;
        visibility: hidden;
        gap: 64px;

        @include breakpoint (max-xxxl){
            gap: 30px;
        }

        @include breakpoint (max-xxl){
           flex-wrap: wrap;
           gap: 25px;
        }

        span {
            display: inline-block;
            color: $st-theme-color;
            font-weight: 500;
            position: relative;
            padding-left: 35px;

            &::before {
                position: absolute;
                top: 13px;
                left: 0;
                content: "";
                width: 24px;
                height: 2px;
                background-color: $st-theme-color;
            }
        }

        h3 {
            a {
                color: $st-white;

                &:hover {
                    color: $st-theme-color;
                }
            }
        }

        .link-btn {
            display: inline-block;
            font-size: 16px;
            font-weight: 600;
            font-family: $st-heading-font;
            color: $st-theme-color;

            i {
                margin-left: 8px;
            }

            &:hover {
                color: $st-theme-color-2;
            }
        }
    }

    &:hover {
        img {
            &:first-child {
                -webkit-transform: translateX(0) scaleX(1);
                transform: translate(0) scaleX(1);
                opacity: 1;
                -webkit-filter: blur(0);
                filter: blur(0)
            }

            &:nth-child(2){
                -webkit-transform: translateX(-50%) scaleX(2);
                transform: translateX(-50%) scaleX(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px);
            }
        }

        .project-content-item {
            opacity: 1;
            visibility: visible;
            left: 0;
        }
    }
}

.project-details-wrapper {
    .details-content {
        h2 {
            font-size: 40px;
        }
    }

    .project-information {
        border-radius: 16px;
        background: #F4F4F4;
        padding: 32px;
        position: relative;
        z-index: 9;

        h3 {
            font-weight: 800;
        }

        ul {
            margin-top: 25px;

            li {
                @include flex;
                justify-content: space-between;

                &:not(:last-child){
                    margin-bottom: 20px;
                }

                span {
                    font-size: 16px;
                    font-weight: 600;
                    font-family: $st-heading-font;
                    color: $st-header-color;
                }
            }
        }

         .social-icon {
            @include flex;
            gap: 16px;
            margin-top: 20px;

            span {
                font-size: 16px;
                font-weight: 600;
                font-family: $st-heading-font;
                color: $st-header-color;
            }

            a {
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;
                background: rgba(255, 255, 255, 1);
                color: $st-header-color;
                

                &:hover {
                    background-color: $st-theme-color-2;
                    color: $st-white;
                }
            }
        }
    }

    .project-details-items {
        .details-image {
            margin-top: -110px;

            @include breakpoint (max-xl){
                margin-top: 0;
            }

            img {
                @include imgw;
                border-radius: 16px;
            }
        }
    }

    .list-items {
        margin-top: 30px;

        h3 {
            font-size: 32px;
            font-weight: 800;
        }

        ul {
            margin-top: 25px;
            li {
                font-size: 18px;
                font-weight: 600;
                font-family: $st-heading-font;
                @include flex;
                gap: 15px;

                &:not(:last-child){
                    margin-bottom: 15px;
                }

                i {
                    color: $st-theme-color-2;
                }
            }
        }
    }

    .details-2 {
        margin-top: 30px;
        
        img {
            @include imgw;
            border-radius: 16px;
        }
    }
}