.service-details-wrapper {
    .gt-details-thumb {
        img {
            @include imgw;
            border-radius: 16px;
        }
    }

    .gt-details-content {
        margin-top: 25px;

        h2 {
            font-weight: 800;
            font-size: 40px;
        }

        .gt-box {
            font-size: 20px;
            font-weight: 600;
            color: $st-header-color;
            font-family: $st-heading-font;
            border-radius: 8px;
            border-left: 5px solid $st-theme-color-2;
            background: $st-bg-color;
            display: inline-block;
            padding: 24px 32px;
            font-style: italic;
            margin-top: 30px;
            line-height: 164%;
        }

        .gt-list-content {
            margin-top: 32px;
            margin-bottom: 40px;

            h3 {
                margin-bottom: 20px;
                font-weight: 800;
            }

            ul {
                li {
                    span {
                        font-size: 16px;
                        color: $st-header-color;
                        font-weight: 700;
                        @include flex;
                        gap: 10px;
                        margin-bottom: 10px;
                        font-family: $st-heading-font;
                    }

                    i {
                        color: $st-theme-color-2;
                    }

                    &:not(:last-child){
                        margin-bottom: 20px;
                    }
                }
            }
        }

        .details-img {
            margin-top: 30px;
            img {
                @include imgw;
                border-radius: 16px;
                
            }

            &.style-2 {
                margin-top: 17px;
            }
        }

        .faq-content {
                margin-top: 40px;

                h3 {
                    font-size: 32px;
                    margin-bottom: 30px;

                    @include breakpoint (max-xl) {
                        font-size: 25px;
                    }
                }

                .accordion-item {
                    border: none !important;
                    background: $st-bg-color;
            
                    .accordion-header { 
                        .accordion-button { 
                            font-weight: 800;
                            color: $st-header-color;
                            letter-spacing: -.2px;
                            border: none !important;
                            font-family: $st-heading-font;
                            border-radius: 0;
                            box-shadow: none;
                            background: #F4F4F4;
                            padding: 20px 30px 0;
                            text-transform: capitalize;
                            font-size: 20px;
                            border-radius: 16px;
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 0;
            
                            @include breakpoint (max-xl){
                                font-size: 18px;
                            }
            
                            @include breakpoint (max-sm){
                                font-size: 18px;
                                padding: 20px 20px 0;
                            }
            
                            &::after {
                                font-weight: 500;
                                transition: all 0.3s ease-in-out !important;
                                position: absolute;
                                top: 22px;
                                right: 24px;
                                content: "\f061";
                                color: $st-header-color;
                                font-family: $fa;
                                background-image: none;
                            }
                            &:not(.collapsed)::after {
                                font-weight: 500;
                                color: $st-theme-color-2;
                                transform: rotate(0);
                                 background-image: none;
                                 content: "\f063";
                            }
            
                            &.collapsed {
                                background: #F4F4F4;
                                padding: 22px 30px;
                                color: $st-header-color;
                                 border-radius: 16px;
                            }
                        }
                    }
            
                    .accordion-collapse { 
                        .accordion-body {
                            padding-left: 33px;
                            padding-top: 15px;
                            padding-right: 40px;
                            color: $st-text-color;
                            background: $st-bg-color-2;
                            padding-bottom: 28px;
                            border-radius: 16px;
                            border-top-left-radius: 0;
                            border-top-right-radius: 0;
            
                            @include breakpoint (max-md){
                                padding-left: 60px;
                            }
            
                            @include breakpoint (max-sm){
                                padding-left: 20px;
                                padding-bottom: 20px;
                            }
                        }
                    }
                }
        }
    }
}

.service-box-items-2 {
    border-radius: 16px;
    background: #F4F4F4;
    padding: 40px 30px;
    text-align: center;
    @include transition;
    border: 1.5px solid #F4F4F4;

     &.style-2 {
        margin-top: 30px;
    }

    .icon {
        border-radius: 8px;
        border: 1px solid rgba(204, 206, 213, 0.24);
        background: $st-white;
        width: 88px;
        height: 88px;
        line-height: 95px;
        text-align: center;
        margin: 0 auto;
        @include transition;
        font-size: 48px;
        color: $st-header-color;
    }

    .content {
        margin-top: 25px;

        h3 {
            margin-bottom: 10px;

            a {
                &:hover {
                    color: $st-theme-color-2;
                }
            }
        }

        .link-btn {
            display: inline-block;
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 600;
            color: $st-header-color;
            font-family: $st-heading-font;
            margin-top: 15px;

            i {
                margin-right: 5px;
            }

            &:hover {
                color: $st-theme-color-2;
            }
        }
    }

    &:hover {
        border: 1.5px solid $st-theme-color-2;

        .icon {
            background-color: $st-theme-color-2;
            color: $st-white;
        }
    }
}